parameters:
    level: 5
    paths:
        - api
        - includes
        - config
    excludePaths:
        - vendor
        - node_modules
        - public
        - debug
        - tests
    ignoreErrors:
        - '#Call to an undefined method PDO::#'
        - '#Variable \$action might not be defined#'
    bootstrapFiles:
        - config/config.php
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
